[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Xebia
[access "refs/*"]
	owner = group user/tamsarka
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tamsarka
	label-Verified = -1..+1 group user/tamsarka
	push = group user/tamsarka
	read = group user/tamsarka
	rebase = group user/tamsarka
	removeReviewer = group user/tamsarka
	submit = group user/tamsarka
[access "refs/heads/*"]
	create = group user/tamsarka
	push = +force group user/tamsarka
	pushMerge = group user/tamsarka
	read = group user/tamsarka
[access "refs/tags/*"]
	push = group user/tamsarka
	push = +force group user/tamsarka
